{% extends "single_content_base.html.twig" %}

{% form_theme form _self %}

{% block single_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.plannedSendAt) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.introductionDe) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.introductionEn) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
