{% extends "single_content_base.html.twig" %}

{% block title %}{{ "change_priority.title"|trans }}{% endblock %}
{% block description %}{{ "change_priority.description"|trans }}{% endblock %}

{% trans_default_domain "administration_newsletter" %}

{% block single_content %}
    <form method="POST">
        <ul class="list-group orderable">
            {% for entry in newsletter.entries %}
                {% if entry.approvedAt is not null %}
                    <li class="list-group-item">
                        <b>{{ entry.header("de") }}</b>
                        | {{ entry.startAt|dateFormat(false) }}
                        <span class="float-right text-secondary">
                        {{ entry.organisation.name }} | {{ entry.organisation.category|organisationCategoryText }}
                    </span>
                        <input type="hidden" name="entry_id[]" value="{{ entry.id }}">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="submit" class="btn-primary btn mt-4">
            {{ "change_priority.set_priority"|trans }}
        </button>
    </form>
{% endblock %}
