{% extends "layout_base.html.twig" %}

{% block title %}{{ "entries.title"|trans }}{% endblock %}
{% block description %}{{ "entries.description"|trans }}{% endblock %}

{% trans_default_domain "administration_newsletter" %}

{% block content %}
    <section class="content">
        <div class="container">
            <div class="p-1 pt-5 pb-4">
                <h1>{{ "entries.title"|trans }}</h1>
                <p class="lead">{{ "entries.description"|trans }}</p>
            </div>

            {% if new_entries|length > 0 %}
                {% for entry in new_entries %}
                    <div class="card mb-3">
                        <div class="card-header {% if entry.organisation.category == 5 %}bg-warning{% endif %}">
                            {{ entry.organisation.name }} |
                            <a href="mailto:{{ entry.organisation.email }}">{{ entry.organisation.email }}</a> |
                            <span>{{ "last_changed_at"|trans({}, "entity_entry") }} {{ entry.lastChangedAt|dateTimeFormat }}</span>
                            {% if entry.organisation.comments is not empty %}
                                | <i>{{ entry.organisation.comments }}</i>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>{{ entry.organisation.name }}: {{ entry.titleDe }}</h4>
                                    <p>{{ entry.descriptionDe|nl2br }}</p>
                                    <p><a href="{{ entry.linkDe }}">{{ entry.linkDe }}</a></p>
                                </div>
                                <div class="col-md-6">
                                    <h4>{{ entry.organisation.name }}: {{ entry.titleEn }}</h4>
                                    <p>{{ entry.descriptionEn|nl2br }}</p>
                                    <p><a href="{{ entry.linkEn }}">{{ entry.linkEn }}</a></p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        {{ entry.location }}
                                        {% if entry.startDate is not null %}
                                            | {{ entry.startDate|dateFormat }} {{ entry.startTime }}
                                        {% endif %}
                                        {% if entry.endDate is not null %}
                                            | {{ entry.endDate|dateFormat }} {{ entry.endTime }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   href="{{ path("administration_entry_approve", {"entry" : entry.id}) }}">
                                    <i class="fal fa-plus"></i>
                                </a>
                                <a class="btn btn-outline-secondary"
                                   href="{{ path("administration_entry_edit", {"entry" : entry.id}) }}">
                                    <i class="fal fa-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger"
                                   href="{{ path("administration_entry_reject", {"entry" : entry.id}) }}">
                                    <i class="fal fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="spacer mb-5">

                </div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h2>{{ "entries.approved_entries"|trans }}</h2>

                    <p>
                        <a class="btn btn-outline-secondary d-print-none"
                           href="{{ path('administration_entry_new', {"newsletter" : newsletter.realId}) }}">
                            {{ "new.title"|trans({}, "administration_entry") }}
                        </a>
                    </p>

                    <form method="POST">
                        {% for category in newsletter.categories %}
                            <h3>{{ category.name("de") }}</h3>
                            {% if category.entries|length == 0 %}
                                <hr/>
                                <p>{{ "entries.no_approved_entries"|trans }}</p>
                            {% else %}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="minimal-width d-print-none"></th>
                                        <th>{{ "title"|trans({}, "entity_entry") }}</th>
                                        <th>{{ "description"|trans({}, "entity_entry") }}</th>
                                        <th class="minimal-width d-print-none"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="orderable">
                                    {% for entry in category.entries %}
                                        <tr>
                                            <td>
                                                <span class="btn btn-link">
                                                    <i class="fal fa-grip-lines"></i>
                                                </span>
                                            </td>
                                            <td>{{ entry.header("de") }}</td>
                                            <td>{{ entry.description("de")|truncate(50) }}</td>
                                            <td class="d-print-none">
                                                <div class="btn-group">
                                                    <a class="btn btn-outline-warning"
                                                       href="{{ path("administration_entry_disapprove", {"entry" : entry.realId}) }}">
                                                        <i class="fal fa-minus"></i>
                                                    </a>
                                                </div>
                                                <input type="hidden" name="entry_id[]" value="{{ entry.realId }}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" name="submit" class="btn-primary btn mt-4">
                            {{ "change_priority.set_priority"|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
