{% extends "single_content_base.html.twig" %}

{% block title %}{{ newsletter.plannedSendAt|dateFormat(false) }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "administration_newsletter" %}

{% block single_content %}
    {% if newsletter.sentAt is null %}
        <div class="mb-5">
            <span class="btn-group">
                <a class="btn btn-outline-secondary"
                   href="{{ path('administration_newsletter_edit', {"newsletter" : newsletter.id}) }}">
                    <i class="fal fa-pencil"></i>
                </a>
            </span>

            <span class="btn-group">
                <a class="btn {% if moderate_entry_count == 0 %}btn-secondary{% else %}btn-warning{% endif %}"
                   href="{{ path('administration_newsletter_entries', {"newsletter" : newsletter.id}) }}">
                    {{ "entries.title"|trans }} ({{ moderate_entry_count }})
                </a>
                <a class="btn btn-outline-secondary"
                   href="{{ path('administration_newsletter_change_priority', {"newsletter" : newsletter.id}) }}">
                    {{ "change_priority.title"|trans }}
                </a>
            </span>

            <span class="btn-group">
                <a class="btn btn-primary"
                   href="{{ path('administration_newsletter_send', {"newsletter" : newsletter.id}) }}">
                    {{ "send.title"|trans }}
                </a>
            </span>
        </div>
    {% endif %}

    <iframe class="w-100 border-0 newsletter"
            src="{{ path("administration_newsletter_preview", {newsletter: newsletter.id}) }}">
    </iframe>

{% endblock %}
