{% extends "single_content_base.html.twig" %}

{% form_theme form _self %}

{% trans_default_domain "organisation_event" %}

{% block single_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                {{ form_row(form.newsletter) }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                {{ form_row(form.organisator) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                {{ form_row(form.titleDe) }}
            </div>
            <div class="form-group">
                {{ form_row(form.descriptionDe) }}
            </div>
            <div class="form-group">
                {{ form_row(form.linkDe) }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                {{ form_row(form.titleEn) }}
            </div>
            <div class="form-group">
                {{ form_row(form.descriptionEn) }}
            </div>
            <div class="form-group">
                {{ form_row(form.linkEn) }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                {{ form_row(form.start) }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                {{ form_row(form.end) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.location) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
