{% extends "single_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "administration" %}

{% block single_content %}
    <div class="btn-group mb-2">
        <a class="btn btn-secondary"
           href="{{ path("administration_newsletter_new") }}">
            {{ "new.title"|trans({}, "administration_newsletter") }}
        </a>
    </div>
    {% if newsletters|length == 0 %}
        <p>{{ "index.no_newsletters"|trans }}</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "planned_send_at"|trans({}, "entity_newsletter") }}</th>
                <th>{{ "sent_at"|trans({}, "entity_newsletter") }}</th>
                <th>{{ "entity.plural"|trans({}, "entity_entry") }}</th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>

            {% for newsletter in newsletters %}
                <tr>
                    <td>{{ newsletter.plannedSendAt|dateFormat }}</td>
                    <td>{{ newsletter.sentAt|dateFormat }}</td>
                    <td>{{ newsletter.entries|length }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary"
                               href="{{ path("administration_newsletter", {"newsletter" : newsletter.id}) }}">
                                {% if newsletter.sentAt is null %}
                                    <i class="fal fa-envelope-open"></i>
                                {% else %}
                                    <i class="fal fa-envelope"></i>
                                {% endif %}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
