{% extends 'single_content_base.html.twig' %}

{% import 'shared/tables.html.twig' as tables %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "organisation" %}

{% block single_content %}
    <h2>{{ "view.hi"|trans }} {{ organisation.name }}</h2>

    <p class="mt-4">
        <a class="btn btn-primary" href="{{ path("organisation_entry_new", {"organisation": organisation.id}) }}">
            <i class="fal fa-plus"></i>
        </a>
    </p>
    {% if entries|length == 0 %}
        <p>{{ "view.no_entries_added_yet"|trans({}, "organisation") }}</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "title"|trans({}, "entity_entry") }}</th>
                <th>{{ "description"|trans({}, "entity_entry") }}</th>
                <th>{{ "start_at"|trans({}, "entity_entry") }}</th>
                <th>{{ "location"|trans({}, "entity_entry") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_newsletter") }}</th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in organisation.entries %}
                <tr>
                    <td>{{ entry.titleEn }}</td>
                    <td>{{ entry.descriptionEn|truncate(50) }}</td>
                    <td>{{ entry.startAt|dateTimeFormat }}</td>
                    <td>{{ entry.location }}</td>
                    <td>{{ entry.newsletter.plannedSendAt|dateFormat }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-light"
                               href="{{ path("organisation_entry_new", {"organisation" : organisation.id, "copy-id": entry.id}) }}">
                                <i class="fal fa-copy"></i>
                            </a>
                            <a class="btn btn-secondary"
                               href="{{ path("organisation_entry_edit", {"organisation" : organisation.id, "entry": entry.id}) }}">
                                <i class="fal fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger"
                               href="{{ path("organisation_entry_remove", {"organisation" : organisation.id, "entry": entry.id}) }}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

