{% extends 'single_content_base.html.twig' %}

{% import 'shared/tables.html.twig' as tables %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "organisation" %}

{% block single_content %}
    <h2>{{ "view.hi"|trans }} {{ organisation.name }}</h2>

    <p class="mt-4">
        <a class="btn btn-primary" href="{{ path("organisation_entry_new", {"organisation": organisation.id}) }}">
            <i class="fal fa-plus"></i>
        </a>
    </p>
    {% if organisation.entries|length == 0 %}
        <p>{{ "view.no_entries_added_yet"|trans({}, "organisation") }}</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "entity.name"|trans({}, "entity_entry") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_newsletter") }}</th>
                <th>{{ "view.status.title"|trans }}</th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in organisation.entries %}
                <td>
                    <b>{{ entry.header("en") }}</b>
                    | {{ entry.startAt|dateFormat(false) }}
                </td>
                <td>{{ entry.newsletter.plannedSendAt|dateFormat }}</td>
                <td>
                    {% if entry.rejectReason is not null %}
                        <span class="text-danger" data-toggle="tooltip" data-placement="right"
                              title="{{ entry.rejectReason }}">
                                {{ "view.status.rejected"|trans }}
                            </span>
                    {% elseif entry.approvedAt is not null %}
                        <span class="text-success">
                            {% if entry.newsletter.sentAt is null %}
                                {{ "view.status.approved"|trans }}
                            {% else %}
                                {{ "view.status.sent"|trans }}
                            {% endif %}
                        </span>
                    {% else %}
                        {% if entry.newsletter.sentAt is null %}
                            {{ "view.status.new"|trans }}
                        {% else %}
                            {{ "view.status.too_late"|trans }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-light"
                           href="{{ path("organisation_entry_new", {"organisation" : organisation.id, "copy-id": entry.id}) }}">
                            <i class="fal fa-copy"></i>
                        </a>
                        <a class="btn btn-secondary"
                           href="{{ path("organisation_entry_edit", {"organisation" : organisation.id, "entry": entry.id}) }}">
                            <i class="fal fa-pencil"></i>
                        </a>
                        <a class="btn btn-danger"
                           href="{{ path("organisation_entry_remove", {"organisation" : organisation.id, "entry": entry.id}) }}">
                            <i class="fal fa-trash"></i>
                        </a>
                    </div>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

