{% extends "large_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block large_content %}
    <div class="btn-group mb-2">
        <a class="btn btn-secondary"
           href="{{ path("administration_organisation_new") }}">
            {{ "new.title"|trans }}
        </a>
        <a class="btn btn-outline-secondary" href="{{ path('administration_organisations_export') }}">
            {{ "index.export_authentication_links"|trans }}
        </a>
    </div>
    {% if organisations|length == 0 %}
        <p>{{ "index.no_organisations_added_yet"|trans }}</p>
    {% else %}
        <table class="table table-striped sortable">
            <thead>
            <tr>
                <th class="minimal-width">{{ "relation_since_semester"|trans({}, "entity_organisation") }}</th>
                <th>{{ "name"|trans({}, "entity_organisation") }}</th>
                <th>{{ "email"|trans({}, "entity_organisation") }}</th>
                <th>{{ "index.summary.event_count"|trans }}</th>
                <th>{{ "entity.name"|trans({}, "entity_semester_report") }}</th>
                <th>{{ "index.summary.budget_sum"|trans }}</th>
                <th>{{ "index.summary.requested_financial_support"|trans }}</th>
                <th>{{ "political_events_description"|trans({}, "entity_semester_report") }}</th>
                <th>{{ "comments"|trans({}, "entity_semester_report") }}</th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>

            {% for organisation in organisations %}
                <tr>
                    <td>{{ organisation.relationSinceSemester|semesterFormat }}</td>
                    <td>{{ organisation.name }}</td>
                    <td><a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a></td>
                    <td>
                        <a href="{{ path('administration_organisations_events', {'organisation': organisation.id}) }}">{{ organisation.futureEventCount }}</a>
                    </td>
                    {% set semester_report = organisation.currentSemesterReport %}
                    {% if semester_report %}
                        <td> {{ true|booleanFormat }}</td>
                    {% else %}
                        <td>{{ false|booleanFormat }}</td>
                    {% endif %}
                    <td>+{{ organisation.futureRevenueSum }} / -{{ organisation.futureExpenditureSum }}</td>
                    <td>{{ organisation.futureFinancialSupport|booleanFormat }}</td>
                    {% if semester_report %}
                        <td>{{ semester_report.politicalEventsDescription }}</td>
                        <td>{{ semester_report.comments }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary"
                               href="{{ path("organisation_view", {"organisation" : organisation.id}) }}">
                                <i class="fal fa-user"></i>
                            </a>
                            <a class="btn btn-secondary"
                               href="{{ path("administration_organisation_edit", {"organisation" : organisation.id}) }}">
                                <i class="fal fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger"
                               href="{{ path("administration_organisation_remove", {"organisation" : organisation.id}) }}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
