{% macro render_for_language(newsletter, locale) %}

    <container id="{{ locale }}" name="{{ locale }}">
        <row>
            <columns small="12" large="12">
                <spacer size="10"></spacer>
                <h1>{{ "newsletter.title"|trans({}, "email", locale) }}</h1>
                <p>{{ newsletter.introduction(locale) }}</p>
            </columns>
        </row>

        <row>
            <columns small="12" large="12">
                <ul>
                    {% set item_count = 0 %}
                    {% for entry in newsletter.entries %}
                        {% if entry.approvedAt is not null %}
                            {% if item_count % 5 == 4 %}
                                <spacer size="20"></spacer>
                            {% endif %}
                            {% set item_count = item_count + 1 %}
                            <li>
                                <a href="#{{ entry.id }}-{{ locale }}">
                                    {{ entry.header(locale) }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </columns>
        </row>
        <spacer size="10"></spacer>
        {% for entry in newsletter.entries %}
            {% if entry.approvedAt is not null %}
                <callout id="{{ entry.id }}-{{ locale }}" name="{{ entry.id }}-{{ locale }}" class="entry">
                    <row>
                        <columns small="12">
                            <h2>{{ entry.header(locale) }}</h2>
                            <p>
                                {{ entry.description(locale) }}
                                {% if entry.link(locale) is not null %}
                                    [<a
                                        href="{{ entry.link(locale) }}">{{ "newsletter.more"|trans({}, "email", "de") }}</a>]
                                {% endif %}
                                {% if entry.location is not null or entry.startAt is not null %}
                                    <br/><i>{{ entry|entryEventInfo("de")|nl2br }}</i>
                                {% endif %}
                            </p>
                        </columns>
                    </row>
                </callout>
            {% endif %}
        {% endfor %}
    </container>
{% endmacro %}

{% apply inky_to_html %}
    <spacer size="20"></spacer>
    <center>
        <img class="logo" src="{{ logo_src }}" alt="Logo">
    </center>
    <p class="text-center">(<a class="secondary"
                               href="#en">{{ "newsletter.english_below"|trans({}, "email", "en") }}</a>)</p>
    <spacer size="10"></spacer>
    {{ _self.render_for_language(newsletter, "de") }}
    <spacer size="20"></spacer>
    {{ _self.render_for_language(newsletter, "en") }}
    <spacer size="10"></spacer>
    <p class="text-center"><a href="https://vseth.ethz.ch">{{ "newsletter.webpage"|trans({}, "email", "en") }}</a></p>
{% endapply %}
