{% macro render_for_language(newsletter, locale) %}
    <container id="{{ locale }}" name="{{ locale }}">
        <row>
            <columns small="12" large="12">
                <spacer size="20"></spacer>
                <h1>{{ "newsletter.title"|trans({}, "email", locale) }}</h1>
                <p>{{ newsletter.introduction(locale) }}</p>
            </columns>
        </row>
        <spacer size="10"></spacer>
        {% for category in newsletter.categories %}
            <spacer size="10"></spacer>
            <row>
                <columns small="12" large="12">
                    <p><b>{{ category.name(locale) }}</b></p>
                    <spacer size="4"></spacer>
                    <ul>
                        {% for entry in category.entries %}
                            <li>
                                <a href="#{{ entry.ref }}-{{ locale }}">
                                    {{ entry.header(locale) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </columns>
            </row>
        {% endfor %}
        <spacer size="20"></spacer>
    </container>
    {% for category in newsletter.categories %}
        {% for entry in category.entries %}
            <spacer size="10"></spacer>
            <container>
                <callout id="{{ entry.ref }}-{{ locale }}" name="{{ entry.ref }}-{{ locale }}" class="entry">
                    <row>
                        <columns small="12">
                            <h4>{{ entry.header(locale) }}</h4>
                            <p>
                                {{ entry.description(locale) }}
                            </p>
                            <spacer size="8"></spacer>
                            {% if entry.hasEventInfo %}
                                <p>
                                    <i>
                                        {{ entry.eventInfo(locale) }}{% if entry.link(locale) is not null %},
                                            <a href="{{ entry.link(locale) }}">
                                                {{ "newsletter.link"|trans({}, "email", locale) }}
                                            </a>
                                        {% endif %}
                                    </i>
                                </p>
                            {% endif %}
                        </columns>
                    </row>
                </callout>
            </container>
        {% endfor %}
        <spacer size="20"></spacer>
    {% endfor %}
{% endmacro %}

{% apply inky_to_html %}
    <spacer size="20"></spacer>
    <center>
        <img class="logo" src="{{ logo_src }}" alt="Logo">
    </center>
    <p class="text-center">(<a class="secondary"
                               href="#en">{{ "newsletter.english_below"|trans({}, "email", "en") }}</a>)</p>
    <spacer size="10"></spacer>
    {{ _self.render_for_language(newsletter, "de") }}
    <spacer size="80"></spacer>
    {{ _self.render_for_language(newsletter, "en") }}
    <spacer size="10"></spacer>
    <p class="text-center"><a href="https://vseth.ethz.ch">{{ "newsletter.webpage"|trans({}, "email", "en") }}</a></p>
    <spacer size="10"></spacer>
{% endapply %}
